.App {
  text-align: center;
}

.carousel {
  display: flex;
  height: 500px;
}

.backButton {
  flex: 1 1 20px;
  align-items: center;
} 

.stage {
  flex: 1 1 200px;
} 
.stage img {
  height: 100%;
}

.arrowButton {
  display: flex;
  flex: 1 1 20px;
  flex-direction: column;
  justify-content: center;
} 