.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}

.container .row {
  display: flex;
  justify-content: center;
  flex: 1 1 0;
}

.container .row div{
  /* I want the children of this row to not expand to fill all available space.  
  */
  
  justify-content: center;
}